@font-face {
  font-family: "SSEDOT";
  font-style: normal;
  font-weight: normal;
  src: local("SSEDOT"), url("fonts/SaaSeriesEDOT.woff") format("woff");
}

@font-face {
  font-family: "HWYGWDE";
  font-style: normal;
  font-weight: normal;
  src: local("HWYGWDE"), url("fonts/HWYGWDE.woff") format("woff");
}

#speedsign {
  position: absolute;
  top: 0;
  right: 0;

  margin: 1vh;

  width: 4em;
  height: 5em;

  background-color: white;
  border-radius: 0.3em;
  border: 0.2em solid #211f20;
  outline: 0.15em solid white;
  text-align: center;
}

#speed {
  position: relative;
  font-family: "SSEDOT";
  font-size: 1em;
  color: #211f20;
  top: 5px;
}

#limit {
  position: relative;
  font-family: "HWYGWDE";
  font-size: 2.5em;
  top: 2px;
  color: #211f20;
}
